<footer>
    <section class="footer">
        <div class="box-arrow">
            <a class="icon-arrow" title="icono acceso al header" href="#link-header">
                <img src="./assets/images/ico-arrow.svg" alt="icono de acceso el principio de la página" />
            </a>
        </div>
        <div class="container-footer">
            <nav class="container1">
                <ul>
                    <li class="list-footer"><a class="text-footer" title="Adalab link"
                            href="https://adalab.es/">Zapatillas</a></li>
                    <li class="list-footer"><a class="text-footer" title="Adalab link"
                            href="https://adalab.es/">Ropa</a>
                    </li>
                    <li class="list-footer"><a class="text-footer" title="Adalab link"
                            href="https://adalab.es/">Niño/a</a>
                    </li>
                    <li class="list-footer"><a class="text-footer" title="Adalab link"
                            href="https://adalab.es/">Destacados</a></li>
                    <li class="list-footer"><a class="text-footer" title="Adalab link"
                            href="https://adalab.es/">Tips</a>
                    </li>
                </ul>
            </nav>
            <nav class="container2">
                <ul>
                    <li class="list-footer"><a class="text-footer-rrss" title="Adalab link"
                            href="https://adalab.es/">Twitter</a></li>
                    <li class="list-footer"><a class="text-footer-rrss" title="Adalab link"
                            href="https://adalab.es/">Instagram</a></li>
                    <li class="list-footer"><a class="text-footer-rrss" title="Adalab link"
                            href="https://adalab.es/">Youtube</a></li>
                </ul>
            </nav>
            <small class="container3">
                <p class="copyright">©2023</p>
                <p class="icon-footer">we<span style="color:#f26002"> ❤︎ </span>run</p>
            </small>
        </div>
    </section>
</footer>