<header id="link-header">
    <div class="hero">
        <img class="image-hero" src="./assets/images/cover.jpeg" alt="Persona atándose las zapatillas" />
    </div>
    <div class="boxhero">
        <h1 class="boxhero__title">HASTA UN 50% DE DESCUENTO</h1>
        <p class="boxhero__text">Ya están aquí las ofertas de fin de temporada</p>
        <a class="boxhero__scroll" title="icono acceso empezar ahora" href="#link-main2">
            <img src="./assets/images/ico-scroll-down.svg" alt="flecha scroll down" />
        </a>
    </div>
    <nav class="menu-header-box">
        <a title="Adalab" href="https://adalab.es/">
            <img class="menu-header" src="./assets/images/ico-menu.svg" alt="menu" />
        </a>
    </nav>
</header>