<section id="link-main2" class="main2">
    <h2 class="main2-title">Año nuevo, movimientos nuevos</h2>
    <div class="main2-container">
        <div class="main2-box">
            <h3 class="main2-box-h3">Entrenamientos</h3>
            <p class="main2-box-p">Sesiones de running y entrenamientos.</p>
        </div>
        <div class="main2-box">
            <h3 class="main2-box-h3">Cualquier nivel</h3>
            <p class="main2-box-p">Entrenamientos para cada nivel.</p>
        </div>
        <div class="main2-box">
            <h3 class="main2-box-h3">Exclusividad</h3>
            <p class="main2-box-p">Productos para miembros premium.</p>
        </div>
    </div>
    <div class="button-orange">
        <button class="button-orange-empezar" type="button">Empezar ahora</button>
    </div>
</section>