<section>
    <div class="main1">
        <div class="main1__text">
            <p class="main1__text--one">Los sentimientos nos inspiran</p>
            <h2 class="main1__text--two">Conecta Contigo</h2>
            <p class="main1__text--three">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la
                libertad de ser. Rendimos
                homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir</p>
        </div>
        <button class="button-compra" type="button">Comprar</button>
    </div>
</section>