.main1 {
    margin: 2rem;

    .main1__text {

        .main1__text--one {
            color: $color-highlight;
            width: 187px;
            height: 30px;
            font-family: 'Roboto-regular', sans-serif;
            font-size: 14px;
            line-height: 2.14;
            text-align: left;
        }

        .main1__text--two {
            width: 290px;
            height: 30px;
            font-family: "Roboto Slab", sans-serif;
            font-size: 24px;
            font-weight: bold;
            line-height: 1.25;
            text-align: left;
        }

        .main1__text--three {
            color: $color-neutral2;
            font-family: "Roboto-regular", sans-serif;
            width: 100%;
            height: auto;
            margin-top: 0.7rem;
            font-size: 18px;
            line-height: 1.67;
            text-align: left;
        }

        @media all and (min-width: 768px) and (max-width: 1280px) {

            .main1__text--one {
                font-size: 16px;
                width: 216px;
            }

            .main1__text--two {
                font-size: 32px;
            }

            .main1__text--three {
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
                font-size: 20px;
            }
        }
    }

    .button-compra {
        width: 160px;
        height: 45px;
        margin-top: 1rem;
        font-family: "Roboto-medium", sans-serif;
        background-color: $color-neutral;
        color: $color-highlight;
        border-color: $color-highlight;
        border: 2.5px solid;
        border-radius: 30px / 30px;
        font-size: 20px;
        font-weight: 500;
        line-height: 2.25;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .button-compra:hover {
        color: rgb(85, 175, 0);
        transform: rotate(0.5turn);
        transition: 0.6s;
    }
}

@media all and (min-width: 1280px) {

    .main1 {
        margin: 10rem;
    }
}